Fitness App/Fitness App/Web References/net.azurewebsites.dbservice3/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetWeeklyData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeeklyDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeeklyDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllData">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMealData">
        <s:complexType />
      </s:element>
      <s:element name="GetMealDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMealDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWeeklyDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeeklyData" />
  </wsdl:message>
  <wsdl:message name="GetWeeklyDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeeklyDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllData" />
  </wsdl:message>
  <wsdl:message name="GetAllDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetMealDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetMealData" />
  </wsdl:message>
  <wsdl:message name="GetMealDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetMealDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetWeeklyDataHttpGetIn">
    <wsdl:part name="startDate" type="s:string" />
    <wsdl:part name="endDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetWeeklyDataHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetAllDataHttpGetIn" />
  <wsdl:message name="GetAllDataHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetMealDataHttpGetIn" />
  <wsdl:message name="GetMealDataHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetWeeklyDataHttpPostIn">
    <wsdl:part name="startDate" type="s:string" />
    <wsdl:part name="endDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetWeeklyDataHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetAllDataHttpPostIn" />
  <wsdl:message name="GetAllDataHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetMealDataHttpPostIn" />
  <wsdl:message name="GetMealDataHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="GetWeeklyData">
      <wsdl:input message="tns:GetWeeklyDataSoapIn" />
      <wsdl:output message="tns:GetWeeklyDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <wsdl:input message="tns:GetAllDataSoapIn" />
      <wsdl:output message="tns:GetAllDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMealData">
      <wsdl:input message="tns:GetMealDataSoapIn" />
      <wsdl:output message="tns:GetMealDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DataServiceHttpGet">
    <wsdl:operation name="GetWeeklyData">
      <wsdl:input message="tns:GetWeeklyDataHttpGetIn" />
      <wsdl:output message="tns:GetWeeklyDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <wsdl:input message="tns:GetAllDataHttpGetIn" />
      <wsdl:output message="tns:GetAllDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMealData">
      <wsdl:input message="tns:GetMealDataHttpGetIn" />
      <wsdl:output message="tns:GetMealDataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DataServiceHttpPost">
    <wsdl:operation name="GetWeeklyData">
      <wsdl:input message="tns:GetWeeklyDataHttpPostIn" />
      <wsdl:output message="tns:GetWeeklyDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <wsdl:input message="tns:GetAllDataHttpPostIn" />
      <wsdl:output message="tns:GetAllDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMealData">
      <wsdl:input message="tns:GetMealDataHttpPostIn" />
      <wsdl:output message="tns:GetMealDataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeeklyData">
      <soap:operation soapAction="http://tempuri.org/GetWeeklyData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <soap:operation soapAction="http://tempuri.org/GetAllData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMealData">
      <soap:operation soapAction="http://tempuri.org/GetMealData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeeklyData">
      <soap12:operation soapAction="http://tempuri.org/GetWeeklyData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <soap12:operation soapAction="http://tempuri.org/GetAllData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMealData">
      <soap12:operation soapAction="http://tempuri.org/GetMealData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceHttpGet" type="tns:DataServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetWeeklyData">
      <http:operation location="/GetWeeklyData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <http:operation location="/GetAllData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMealData">
      <http:operation location="/GetMealData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceHttpPost" type="tns:DataServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetWeeklyData">
      <http:operation location="/GetWeeklyData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <http:operation location="/GetAllData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMealData">
      <http:operation location="/GetMealData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="https://dbservice3.azurewebsites.net/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="https://dbservice3.azurewebsites.net/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceHttpGet" binding="tns:DataServiceHttpGet">
      <http:address location="https://dbservice3.azurewebsites.net/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceHttpPost" binding="tns:DataServiceHttpPost">
      <http:address location="https://dbservice3.azurewebsites.net/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>